* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* ---------------------------------------------------------------- */

/* Cores do Menu */

:root {
    /* Menu */
    --fundo-menu: #6b42a5;
    --cor-categorias: white;
    --cor-categorias-hover: black;

    /* Botão do Carrinho */
    --cor-texto-carrinho: white;
    --cor-fundo-carrinho: black;
    --cor-texto-carrinho-hover: black;
    --cor-fundo-carrinho-hover: #f9d877;
}

/* Menu */

nav {
    height: 6rem;
    width: 100%;
    background-color: var(--fundo-menu);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    z-index: 100;
    overflow-x: hidden;
}

.cadastro-icone {
    display: inline-block;
    margin-right: 0.4vw;
}

.cadastro-icone img {
    width: 1.4vw;
}

/* Logotipo do Menu */

.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo img {
    height: 3.8vw;
    width: 13vw;
}

/* Categorias do Menu */

.nav-links {
    display: flex;
    list-style: none;
    padding: 0 0.7vw;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
    gap: 5vw;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1vw;
    color: var(--cor-categorias);
    font-family: sans-serif;
    transition: all ease-in-out 200ms;
}

.nav-links li a:hover {
    color: var(--cor-categorias-hover);
}

.nav-links li {
    position: relative;
}

/* Botão do Cadastro*/
.cadastro-botao {
    color: var(--cor-texto-carrinho);
    background-color: var(--cor-fundo-carrinho);
    border: 1.5px solid var(--cor-fundo-carrinho);
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 350ms;
}

.cadastro-botao:hover {
    color: var(--cor-texto-carrinho-hover);
    background-color: var(--cor-fundo-carrinho-hover);
    border: 1.5px solid var(--cor-fundo-carrinho-hover);
    margin-bottom: 0.4vw;
    transform: translateY(-2px);
}

/* Icone do Menu */
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/* Media Query do Menu Para o Celular */

@media screen and (max-width: 800px) {
    nav {
        height: 5.3rem;
        position: relative;
        z-index: 10;
    }

    .cadastro-botao {
        font-size: 5vw;
    }

    .cadastro-icone {
        margin-right: 1.8vw;
    }

    .cadastro-icone img {
        width: 6vw;
    }

    /* Logotipo do Menu no Celular */

    .logo {
        padding: 1vh 1.1vw;
        text-align: center;
    }

    .logo img {
        height: 16.5vw;
        width: 55vw;
    }

    /* Icone do Menu no Celular */

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 2.6vw;
        top: 4.6vh;
        transform: translate(-5%, -50%);
        transition: all 0.7s ease;
        z-index: 50;
    }

    /* Categorias do Menu no Celular */
    .nav-links {
        position: fixed;
        background: #131418;
        height: 75%;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links li a {
        font-size: 5vw;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }

    .fade {
        opacity: 0 !important; /* Itens invisíveis por padrão */
        transition: opacity 0.3s ease-in-out !important; /* Transição suave */
    }
    
    .fade.show {
        opacity: 1 !important; /* Torna visível quando a classe 'show' está presente */
    }
}

/* Animação do Icone do Celular */

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}